.wrap-section{
    display: flex;
    padding: 9px;
    margin: 3px;
    align-items: center;
    cursor: pointer;
    &:hover{
        background-color: #fff2de;

    }
    padding-right: 14px;
    .section-name{

        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 21px;
        margin: 0 10px;
    }
    .section-name-active{
        font-weight: bold;
        color: #C77903;
    }

}