.swaps-wrap{
   
    text-align: start;

    .swap-container{
        margin-top: 20px; 
        width: min-content; 
    }
    @media (max-width: 420px) {
        /* Стили, применяемые только на маленьких экранах */
        .swap-container{
            margin-top: 0; 
        }
    }
    .title-swaps{
        display: flex;
        margin-bottom: 17px;
        align-items: center;
        .title-swaps-name{
            font-size: 29px;
            font-weight: 500;
            margin-right: 15px;
        }
        .title-swaps-img{
            height: 35px;
            width: auto;
            margin-top: 5px;
            &:hover{
                background-color: #fff2de;
                border-radius: 50px;
            }
        }
        @media (max-width: 420px) {
            /* Стили, применяемые только на маленьких экранах */
            .title-swaps-name{
                font-size: 20px;
            }
        }
        
    }
    @media (max-width: 420px) {
        /* Стили, применяемые только на маленьких экранах */
        .title-swaps{
            margin-bottom: 8px;
        }
        
    }
    
    .swaps-list{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
        .first-row{
            display: flex;
        }
    }
}
.popup-content {
    border-radius: 20px;
   
}
