.login-wrap{
    height: 100vh;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    // vertical-align: middle;
    margin: 0 auto;
    // width: 50%;
    background-color: #F7F8FA;
    .login-window{
        // width: 100%;
        background-color: white;
        padding: 25px 60px 25px 60px;
        box-shadow: 0px 0px 10px 2px rgba(214, 214, 214, 0.25);
        border-radius: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .login-form{
            width: 100%;
            display: flex;
            flex-direction: column;
            .login-input{
                margin-top: 25px;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                text-align: center;
                border: none;
                border-bottom: 1px solid black;
                text-align: center;
                &:focus {
                    outline: none;
                  }
            }
            .login-button {
                margin: 0 auto;
                margin-top: 30px;
                background: #FFFFFF;
                border: 1px solid #000000;
                border-radius: 28px;
                padding: 5px 25px;
                transition: color 0.3s, background-color 0.3s;
              
                span {
                  font-weight: 500;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 21px;
                  line-height: 28px;
                  text-align: center;
                }
              
                &:hover {
                  background-color: #F2F2F2;
                }
              
                &:active {
                    background-color: #000000;
                    color: #FFFFFF;
                }
              }
              .login-message{
                text-align: center;
                margin-top: 15px;
                color:#df0000;
              }
        }
        
    }
}