.wrap-chooser{
    .chooser{
        flex-wrap: wrap;
        display: flex;
        gap: 30px;
        .choser-window{
            box-shadow: 0px 0px 10px 2px rgba(214, 214, 214, 0.25);
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 4px 10px;
            background-color: white;
            border-radius: 10px;
        }
    }
    @media (max-width: 600px) {
        /* Стили, применяемые только на маленьких экранах */
        .chooser{
            gap:10px;
        }
        
    }
}
@media (max-width: 420px) {
    /* Стили, применяемые только на маленьких экранах */
    .wrap-chooser{
        
        transform: scale(0.8);
        transform-origin: left top;
    }
    
}